tmp/app0/flows
[{"id":"49cf684aba9b5fea","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7bf94e3d4d29f9cd","type":"inject","z":"49cf684aba9b5fea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":160,"wires":[["7f77d938f70bfd8a","38ce956c0ede275d"]]},{"id":"7f77d938f70bfd8a","type":"debug","z":"49cf684aba9b5fea","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":160,"wires":[]},{"id":"38ce956c0ede275d","type":"sendgrid","z":"49cf684aba9b5fea","from":"qsdgqsfgdsfg","multiple":false,"to":"dsfgdfgsdfgsdfg","name":"","content":"text","templateId":"","templateData":"","x":620,"y":260,"wires":[]}]